* {
	box-sizing:border-box;
}
@font-face {
  font-family: 'Tetris';
  src: url('DIGITALDREAM-webfont.ttf') format('truetype'); 
}  
body {
	background: #202028;
	color: #fff;
	font-size: 1.5em;
	font-family:Tetris;
	text-align: center;
}
.container {
	display: flex;
	justify-content: center;
	height: 80vh;

}
canvas {

	margin-top: 20px;
	height: 80vh;
	border: 2px solid #fff;
	background: black;
}
#currentScore{
	margin-top: 10px;
}
#scores {
	margin-left: 50px;
}
#scoreBoard {
	position: absolute;
	top: 2vh;
	left:4vh;
	text-align: left;
}
#space{
	margin-top: -20%;
	text-align: center;
	font-size: 1em;
	line-height: 1.4em;
}
#startSection {
	width: 47vh;
	position: absolute;
	top:15%;
	font-size: 5vh;

}
#startBut{
	width: 80%;
	margin: 0 auto;
	text-align: center;
	margin-top: 50%;
	font-size: 8vh;
	font-weight: 600;
	padding: 10px 0;
	padding-left: 10px;
	opacity: 0;

}
#startBut:hover {
	border: 2px solid white;
	border-radius: 20px;
	cursor: pointer;
	color:black;
	background: white;
	transition: color 0.25s , background 0.25s;
}
#startCount {
	margin: 40% auto;
	font-size: 3em;
	font-weight: 600;
	color: white;
	padding-left: 10px;
	display: none;
}

#tetrisImg1 {
	max-width: 100%;

}